.free-courses-section {
    padding: 4rem 2rem;
}

.why-triprex {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.home-section-title {
    font-size: 42px;
    color: #192a56;
    margin-bottom: 20px;
    font-weight: 700;
}

.features-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 2rem;
}

.home-feature-item {
    background-color: #fff;
    padding: 1.5rem;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
    text-align: center;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    transition: all 0.5s ease;
}

.home-feature-icon {
    margin-bottom: 1rem;
    color: var(--primary-color); /* màu xanh primary */
    
}

.home-feature-item h3 {
    font-size: 1.125rem;
    font-weight: 600;
    margin-bottom: 0.75rem;
    color: #0b519c;
}

.home-feature-item p {
    font-size: 0.95rem;
    color: #5f88b6;
    line-height: 1.5;
}

.home-feature-item:hover {
    scale: 1.05;
    background-color: var(--primary-color);
}

.home-feature-item:hover .home-feature-icon,
.home-feature-item:hover h3,
.home-feature-item:hover p {
    color: #fff;
}
