/* Reset đơn giản */
@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body, h1, p, a, button, input {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.mr-16 {
  margin-right: 16px;
}

/* App wrapper */
.app {
  min-height: 100vh;
  background-color: #ffffff;
  color: #333;
}

.d-flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}